In [2]:
import pandas as pd
import numpy as np
from mayavi import mlab
from pandas import Series,DataFrame
print pd.DataFrame(np.random.rand(20,5))

           0         1         2         3         4
0   0.589383  0.415017  0.893686  0.822140  0.315488
1   0.955416  0.341929  0.930718  0.425364  0.866859
2   0.800626  0.194429  0.431965  0.937143  0.612799
3   0.157399  0.141021  0.197650  0.039498  0.362562
4   0.790358  0.652932  0.911443  0.612942  0.693504
5   0.728453  0.269862  0.270819  0.621090  0.723980
6   0.095988  0.898124  0.446778  0.406595  0.161509
7   0.390678  0.142584  0.677191  0.630429  0.517992
8   0.672538  0.625867  0.863982  0.788218  0.972545
9   0.449324  0.849537  0.777005  0.987742  0.575722
10  0.516599  0.727152  0.435655  0.096774  0.201689
11  0.391074  0.891704  0.970379  0.670302  0.431691
12  0.673376  0.293493  0.091154  0.554121  0.780354
13  0.425280  0.954531  0.038259  0.170949  0.358362
14  0.287992  0.205503  0.911331  0.031301  0.875629
15  0.031291  0.739627  0.255024  0.526452  0.409645
16  0.033123  0.165797  0.761527  0.646923  0.812548
17  0.186244  0.044366  0.291172  0.132567  0.873702
18  0.992288  0.987469  0.775806  0.841366  0.421951
19  0.177635  0.551060  0.283402  0.937706  0.336635

In [5]:
li = [1,2,3,4,5]

print pd.Series(li)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
#{key:list[]}
data = {'a':[1,2,3,4,5,6,7],'b':[1,2,3,4,5,6,7]}
pd.DataFrame(data=data)

   a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6
6  7  7

In [7]:
a = np.ones(3, np.dtype=int32)
print a

SyntaxError: keyword can't be an expression (<ipython-input-7-800030099bed>, line 1)